HOST-SUFFIX, music.163.com, UnblockNeteaseMusic
HOST, interface.music.163.com.163jiasu.com, UnblockNeteaseMusic
HOST, interface3.music.163.com.163jiasu.com, UnblockNeteaseMusic
HOST-SUFFIX, music.126.net, UnblockNeteaseMusic
